@model MyNotes.ViewModels.LoginViewModel
@{

    ViewData["Title"] = "Login page";
}

<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.returnUrl">

</form>

