@model MyNotes.ViewModels.LoginViewModel
@{

    ViewData["Title"] = "Login page";
}
@*https://metanit.com/sharp/aspnet5/16.4.php*@


<form method="post" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Model.ReturnUrl"></form>

