<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <!--меню-->
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                    @*<li><a href="~/home/index">Home2</a></li>*@
                </ul>
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </div>
        </div>
    </nav>
    
    <div class="container body-content">
        <h2>@ViewData["Title"]</h2>
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>Test Task - MyNotes</p>
    </footer>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</body>
</html>
