<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>

    <!--меню-->
    <nav class="navbar navbar-inverse navbar">
        <div class="container">
            <div>
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>

                    @*<li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>*@

                    @if (User.Identity.IsAuthenticated)
                    {
                        
                        <form asp-area="" asp-controller="Account" asp-action="LogOff" method="post" class="navbar-right">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <button type="submit" value="Exit" class="btn navbar-btn btn-link navbar-link">Logout</button>
                                </li>
                                <li>
                                    <a asp-area="">Hi, @User.Identity.Name!</a>
                                </li>
                            </ul>
                            
                        </form>
                        


                    }
                    else
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Login">Login</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                    }
                </ul>
                
            </div>
        </div>
    </nav>
    
    <div class="container body-content">
        <h2>@ViewData["Title"]</h2>
        @RenderBody()
    </div>
    <hr />
    <footer>
        <p>Test Task - MyNotes</p>
    </footer>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</body>
</html>
